body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

h1 {
    color: #2c3e50;
}

button {
    padding: 8px 15px;
    margin: 5px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: rgb(0, 0, 0);
    margin: 10px auto;
    padding: 10px;
    width: 60%;
    border-radius: 5px;
}
